.p{
    font-size: 75px;
    color: white;
    text-shadow:1px 1px 5px black, 0 0 9px red ; /* horizontal, vertical, cobertura(distancia de la sombra)  */
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
    color: darkblue;
    text-shadow: red 3px 3px 1px;
    background-color: coral;
    width: 400px;
    height: 150px;
    font-size: 70px;
    box-shadow: black 0px 3px 10px 1px inset; 

} 

.tarjeta{
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2), 0 6px 20px;
}

.numero{
    background-color: darkred;
    color: white;
    padding: 10px;
    font-size: 50px;
}

.titulo{
    padding: 5px;
}