body{
    margin: 0;
}

/* div{ */
    /* width: min(400px,50vw ); */
    /* width: max(50vw, 400px); */
    /* height: 400px;
    background-color: coral; */
/* } */

div{
    width: 100vw;
    height: 400px;
    background-color: bisque;
    font-size: clamp(36px, 1rem + 3vw, 200px);
}