p{
    width: 400px;
    font-size: 40px ;
    border: 3px solid red;
    writing-mode: vertical-lr; 
    word-wrap: break-word;    
}

#texto{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

} */

body{
    background-color: bisque;
}

#texto{
    width: 200px;
    border: 3px solid brown;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
    font-size: 24px;
    margin: 0;
    background-color: white;
    resize: vertical;
}