/* div{
    width: 180px;
    height: 180px;
    background: linear-gradient(orange,red);
    border: 7px solid darkred;
    transform: translateY(200px); 
    transform: rotateX('180deg'); 
    transform: skewX(45deg); 
    transform: scale(2);
} */

div{
    margin: 10px;
    background:linear-gradient(180deg, red,orange);
    width: 200px;
    height: 200px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
}

@keyframes skew {

    0%{
        transform: skew(20deg, 20deg);
    }
    100%{
        transform: skew(-20deg, -20deg);
    }
}