/* .padre{
    font-size: 20px;
}
.hijo{
    font-size: 1.5em;
} */

html{
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.caja{
    display: flex;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.col{
    flex: 1;
    padding: 0 1em;
}

h1{
    color: darkblue;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background:lightblue;
    padding: 1em 4em;
}

.cont{
    background: linear-gradient(to left, lightblue, white);
    padding: 10vh 0;
    height: 100vh;
}

.cont-img{
    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, 0.5);
}

.cont-title{
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 0.25em;
}

.cont-text{
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 0 1.5em;
}


